@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*, :after, :before {
  box-sizing: border-box;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}

ol[role=list], ul[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img, picture {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, :after, :before {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
:root {
  --ll-font-family:"Comic Neue",-apple-system,"BlinkMacSystemFont","Segoe UI","Helvetica","Arial",sans-serif;
  --ll-font-family-mono:ui-monospace,"SFMono-Regular","SF Mono","Menlo","Consolas","Liberation Mono",monospace;
  --ll-border-radius:16rem 1rem 14rem 1rem/1rem 14rem 1rem 16rem;
  --ll-border-color:var(--ll-theme-border-color,#000);
  --ll-text-color:var(--ll-theme-text-color,#000);
  --ll-text-color-translucent:var(--ll-theme-text-color-translucent,rgba(0,0,0,0.2));
  --ll-text-color-transparent:var(--ll-theme-text-color-transparent,transparent);
  --ll-link-color:var(--ll-theme-link-color,var(--ll-text-color));
  --ll-link-visited-color:var(--ll-theme-link-visited-color,var(--ll-link-color));
  --ll-accent-color:var(--ll-theme-accent-color,#4169e1);
  --ll-background-color:var(--ll-theme-background-color,#fff);
  --ll-background-color-transparent:var(--ll-theme-background-color-transparent,hsla(0,0%,100%,0));
  --ll-accent-background-color:var(--ll-theme-accent-background-color,#ddd);
  --ll-input-focus-box-shadow:var(
      --ll-theme-input-focus-box-shadow,0 0 0 0.125rem var(--ll-background-color),0 0 0 0.25rem var(--ll-accent-color)
  );
  --ll-link-focus-box-shadow:var(--ll-theme-link-focus-box-shadow,0 0 0 0.25rem var(--ll-accent-color));
  --ll-border-thin:0.0625rem solid var(--ll-border-color);
  --ll-border-medium:0.125rem solid var(--ll-border-color);
  --ll-border-thick:0.1875rem solid var(--ll-border-color);
  --fluid-min-width:320;
  --fluid-max-width:1140;
  --fluid-screen:100vw;
  --fluid-bp:calc((var(--fluid-screen) - var(--fluid-min-width)/16*1rem)/(var(--fluid-max-width) - var(--fluid-min-width)));
  --f--5-min:8.04;
  --f--5-max:7.86;
  --step--5:calc(var(--f--5-min)/16*1rem + (var(--f--5-max) - var(--f--5-min))*var(--fluid-bp));
  --f--4-min:9.65;
  --f--4-max:9.83;
  --step--4:calc(var(--f--4-min)/16*1rem + (var(--f--4-max) - var(--f--4-min))*var(--fluid-bp));
  --f--3-min:11.57;
  --f--3-max:12.29;
  --step--3:calc(var(--f--3-min)/16*1rem + (var(--f--3-max) - var(--f--3-min))*var(--fluid-bp));
  --f--2-min:13.89;
  --f--2-max:15.36;
  --step--2:calc(var(--f--2-min)/16*1rem + (var(--f--2-max) - var(--f--2-min))*var(--fluid-bp));
  --f--1-min:16.67;
  --f--1-max:19.2;
  --step--1:calc(var(--f--1-min)/16*1rem + (var(--f--1-max) - var(--f--1-min))*var(--fluid-bp));
  --f-0-min:20;
  --f-0-max:24;
  --step-0:calc(var(--f-0-min)/16*1rem + (var(--f-0-max) - var(--f-0-min))*var(--fluid-bp));
  --f-1-min:24;
  --f-1-max:30;
  --step-1:calc(var(--f-1-min)/16*1rem + (var(--f-1-max) - var(--f-1-min))*var(--fluid-bp));
  --f-2-min:28.8;
  --f-2-max:37.5;
  --step-2:calc(var(--f-2-min)/16*1rem + (var(--f-2-max) - var(--f-2-min))*var(--fluid-bp));
  --f-3-min:34.56;
  --f-3-max:46.88;
  --step-3:calc(var(--f-3-min)/16*1rem + (var(--f-3-max) - var(--f-3-min))*var(--fluid-bp));
  --f-4-min:41.47;
  --f-4-max:58.59;
  --step-4:calc(var(--f-4-min)/16*1rem + (var(--f-4-max) - var(--f-4-min))*var(--fluid-bp));
  --f-5-min:49.77;
  --f-5-max:73.24;
  --step-5:calc(var(--f-5-min)/16*1rem + (var(--f-5-max) - var(--f-5-min))*var(--fluid-bp));
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen:calc(var(--fluid-max-width)*1px);
  }
}
body {
  background-color: var(--ll-background-color);
  color: var(--ll-text-color);
  font-family: var(--ll-font-family);
  font-size: var(--step-0);
  width: 100%;
}

::-moz-selection {
  background-color: var(--ll-accent-color);
  color: var(--ll-background-color);
}

::selection {
  background-color: var(--ll-accent-color);
  color: var(--ll-background-color);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  margin: 0 auto;
  max-width: 65ch;
  padding: var(--step-0);
}

.flow > * + * {
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
}

.align-center {
  text-align: center;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}

h1 {
  font-size: var(--step-3);
}

h1, h2 {
  font-weight: 700;
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-weight: 700;
}

blockquote, h3 {
  font-size: var(--step-1);
}

blockquote {
  -webkit-padding-start: var(--step-0);
  border-left: var(--ll-border-medium);
  border-top-left-radius: 0.125em 100%;
  padding-inline-start: var(--step-0);
}

cite {
  -webkit-padding-start: 2ch;
  font-size: var(--step-0);
  font-style: normal;
  padding-inline-start: 2ch;
}

cite:before {
  content: "–";
}

pre {
  background: var(--ll-accent-background-color);
  border-radius: var(--ll-border-radius);
  font-family: var(--ll-font-family-mono);
  font-size: var(--step-0);
  padding: var(--step-0);
}

hr {
  -webkit-margin-after: 0;
  border: none;
  display: block;
  height: 1em;
  margin-block-end: 0;
  position: relative;
}

hr:after {
  content: "***";
  position: absolute;
  text-align: center;
  width: 100%;
}

ol, ul {
  margin: 0;
}

a {
  color: var(--ll-link-color);
}

a[aria-current=page] {
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
}

a:visited {
  color: var(--ll-link-visited-color);
}

a:focus {
  background-color: var(--ll-background-color);
  outline: none;
}

a:active, a:focus {
  border-radius: var(--ll-border-radius);
  box-shadow: var(--ll-link-focus-box-shadow);
}

a:active {
  background-color: var(--ll-accent-color);
  color: var(--ll-background-color);
}

a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--ll-background-color);
  border: var(--ll-border-medium);
  border-radius: var(--ll-border-radius);
  color: var(--ll-text-color);
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  padding: var(--step--5) var(--step--4);
  text-decoration: none;
}

a.button:focus {
  box-shadow: var(--ll-input-focus-box-shadow);
  outline: none;
}

a.button:active {
  background: var(--ll-text-color);
  color: var(--ll-background-color);
}

[type=reset], [type=submit], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--ll-border-medium);
  border-radius: var(--ll-border-radius);
  border-style: solid;
  border-width: 0.125rem;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  padding: var(--step--5) var(--step--4);
}

[type=submit], button {
  background: var(--ll-text-color);
  color: var(--ll-background-color);
}

[type=reset] {
  background: var(--ll-background-color);
  color: var(--ll-text-color);
}

[type=reset]:focus, [type=submit]:focus, button:focus {
  box-shadow: var(--ll-input-focus-box-shadow);
  outline: none;
}

[type=submit]:active, button:active {
  background: var(--ll-background-color);
  color: var(--ll-text-color);
}

[type=reset]:active {
  background: var(--ll-text-color);
  color: var(--ll-background-color);
}

button.link {
  all: unset;
  text-decoration: underline;
}

button.link:focus {
  outline: none;
}

button.link:active, button.link:focus {
  background-color: var(--ll-accent-color);
  border-radius: var(--ll-border-radius);
  box-shadow: var(--ll-link-focus-box-shadow);
  color: var(--ll-background-color);
}

label {
  display: block;
  font-weight: 700;
}

label + * {
  -webkit-margin-before: var(--step--5);
  margin-block-start: var(--step--5);
}

input, textarea {
  background-color: var(--ll-background-color);
  border: var(--ll-border-medium);
  border-radius: var(--ll-border-radius);
  color: var(--ll-text-color);
  display: block;
  width: 100%;
}

input, textarea {
  padding: var(--step--5) var(--step--4);
}

textarea {
  min-height: calc(var(--step-0)*12);
  padding: var(--step--2);
  resize: vertical;
}

input:focus, textarea:focus {
  box-shadow: var(--ll-input-focus-box-shadow);
  outline: none;
}

input[type=checkbox] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type=checkbox] + label:before {
  -webkit-margin-after: calc(var(--step--5)*-1);
  -webkit-margin-end: var(--step--5);
  align-items: center;
  border: var(--ll-border-medium);
  border-radius: var(--ll-border-radius);
  content: " ";
  display: inline-flex;
  height: var(--step-1);
  justify-content: center;
  margin-block-end: calc(var(--step--5)*-1);
  margin-inline-end: var(--step--5);
  width: var(--step-1);
}

input[type=checkbox]:active + label:before, input[type=checkbox]:focus + label:before {
  box-shadow: var(--ll-input-focus-box-shadow);
}

input[type=checkbox]:checked + label:before {
  content: "✓";
}

input[type=radio] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type=radio] + label:before {
  -webkit-margin-after: calc(var(--step--5)*-1);
  -webkit-margin-end: var(--step--5);
  align-items: center;
  border: var(--ll-border-medium);
  border-radius: 50%;
  content: " ";
  display: inline-flex;
  height: var(--step-1);
  justify-content: center;
  margin-block-end: calc(var(--step--5)*-1);
  margin-inline-end: var(--step--5);
  width: var(--step-1);
}

input[type=radio]:active + label:before, input[type=radio]:focus + label:before {
  box-shadow: var(--ll-input-focus-box-shadow);
}

input[type=radio]:checked + label:before {
  background-color: var(--ll-text-color);
  box-shadow: 0 0 0 0.25rem var(--ll-background-color) inset;
}

input[type=radio]:checked:active + label:before, input[type=radio]:checked:focus + label:before {
  background-color: var(--ll-text-color);
  box-shadow: var(--ll-input-focus-box-shadow), 0 0 0 0.25rem var(--ll-background-color) inset;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--ll-text-color);
  background-image: var(--ll-theme-select-icon, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>'));
  background-position: right var(--step--4) center;
  background-repeat: no-repeat;
  border: var(--ll-border-medium);
  border-radius: var(--ll-border-radius);
  color: var(--ll-background-color);
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  padding: var(--step--5) var(--step-3) var(--step--5) var(--step--4);
}

[dir=rtl] select {
  background-position: center left var(--step--4);
}

select:focus {
  box-shadow: var(--ll-input-focus-box-shadow);
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset > * + * {
  -webkit-margin-before: 0.5em;
  margin-block-start: 0.5em;
}

legend {
  font-weight: 700;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figure > * + * {
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
}

figure img {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

figure img:not([alt]), figure img[alt=""] {
  filter: blur(1em);
}

figcaption {
  font-size: var(--step--1);
  font-style: italic;
  text-align: center;
}

[role=banner], aside, main {
  width: 100%;
}

aside {
  margin: 0 auto;
  max-width: 65ch;
  padding: var(--step-0);
}

@media (min-width: 200ch) {
  aside {
    -webkit-margin-start: calc(50% - 52.5ch);
    float: left;
    inset-block-start: var(--step-0);
    margin-inline-start: calc(50% - 52.5ch);
    position: sticky;
    width: 20ch;
  }
}
[role=contentinfo] {
  width: 100%;
}

form > * + * {
  -webkit-margin-before: 2em;
  margin-block-start: 2em;
}

form > [type=hidden] + * {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}

[role=region][tabindex] {
  -webkit-margin-end: -0.25rem;
  -webkit-margin-start: -0.25rem;
  background: linear-gradient(to right, var(--ll-background-color) 30%, var(--ll-background-color-transparent)), linear-gradient(to right, var(--ll-background-color-transparent), var(--ll-background-color) 70%) 0 100%, radial-gradient(farthest-side at 0 50%, var(--ll-text-color-translucent), var(--ll-text-color-transparent)), radial-gradient(farthest-side at 100% 50%, var(--ll-text-color-translucent), var(--ll-text-color-transparent)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: var(--ll-background-color);
  background-position: 0 0, 100%, 0 0, 100%;
  background-repeat: no-repeat;
  background-size: var(--step-2) 100%, var(--step-2) 100%, var(--step--1) 100%, var(--step--1) 100%;
  border: 0;
  margin-inline-end: -0.25rem;
  margin-inline-start: -0.25rem;
  overflow: auto;
}

[role=region][tabindex]:focus {
  box-shadow: var(--ll-link-focus-box-shadow);
  outline: none;
}

table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0.25rem;
  width: 100%;
}

[data-caption=bottom] {
  caption-side: bottom;
}

caption {
  -webkit-margin-after: var(--step--4);
  font-size: var(--step--1);
  font-style: italic;
  margin-block-end: var(--step--4);
  text-align: center;
}

[data-caption=bottom] caption {
  -webkit-margin-after: 0;
  -webkit-margin-before: var(--step--4);
  margin-block-end: 0;
  margin-block-start: var(--step--4);
}

tbody, tfoot, thead {
  border: 0;
}

thead th {
  border: var(--ll-border-medium);
  border-color: var(--ll-text-color);
}

th {
  border: 0;
  padding: var(--step--3);
}

th[scope=row] {
  text-align: end;
}

td {
  border: 0;
  padding: var(--step--3);
  text-align: start;
}

tbody tr:nth-child(odd) {
  background: var(--ll-accent-background-color);
}

@media (min-width: 768px) {
  [role=banner] .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-block: var(--step-2);
  }
}
.alert {
  border: var(--ll-border-thin);
  border-radius: var(--ll-border-radius);
  padding: var(--step-0) var(--step-1);
}
.alert .title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.auth-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.auth-card > * {
  max-width: calc(65ch / 2);
  width: 100%;
}

.auth-card__logo {
  text-align: center;
}

.brand {
  font-size: var(--step-2);
}

.dropdown .dropdown__content {
  background-color: var(--ll-background-color);
  border: var(--ll-border-thin);
  border-radius: var(--ll-border-radius);
  padding: var(--step--5) var(--step--4);
  text-align: start;
}

@media (min-width: 768px) {
  .dropdown {
    position: relative;
  }
  .dropdown .dropdown__content {
    height: auto;
    inset-inline-end: 0;
    position: absolute;
    text-align: end;
    white-space: nowrap;
    width: auto;
  }
}
nav {
  display: flex;
  flex-direction: column;
  -webkit-margin-before: var(--step-2);
          margin-block-start: var(--step-2);
}

nav ul {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav ul > li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav ul > li::before {
  display: none;
}

nav > * + * {
  -webkit-margin-before: var(--step--2);
          margin-block-start: var(--step--2);
}

nav .link {
  align-items: center;
  display: flex;
  flex-direction: row;
}

nav .icon {
  height: 1em;
  -webkit-margin-end: 0.125em;
          margin-inline-end: 0.125em;
  width: 1em;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }

  nav > * + * {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-start: var(--step--2);
            margin-inline-start: var(--step--2);
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul > li + li {
    -webkit-margin-start: var(--step--2);
            margin-inline-start: var(--step--2);
  }
}
